nav {
    height: 50px;
    background-color: lightgrey;
  }
  .inline-block {
    padding: 15px;
    display: inline-block;
  }
  img {
    width: 70%;
    padding: 10px;
  }
  .left {
    float: left;
    height: 700px;
    background-color: rgb(88, 180, 211);
    width: 29%;
    text-align: center;
  }
  .right {
    float: left;
    background-color: rgb(235, 201, 151);
    height: 700px;
    width: 70%;
    text-align: center;
  }

  .column {
    float: left;
    width: 50%;
    padding: 30px;
  }
  

